<div class="parent-container">

  <!-- Penalty Container -->
  <div class="penalty-container" >
    <span class="penalty-title">Penalties</span>
    <p class="penalty-item">{{round}}</p>
  </div>

  <!-- Challenge Container -->
  <div class="challenge-container">

    <div class="round-number">
      <span>Round: {{round}}</span>
    </div>

    <!-- Difficulty Section -->
    <div class="difficulty-section">
      <span *ngIf="writtenChallenge" [ngClass]="">{{
        getDifficultyWord(2) }}</span>
    </div>


    <!-- Challenge Section -->
    <div class="challenge-section" *ngIf="writtenChallenge">
      <p>{{ writtenChallenge }}</p>
    </div>

    <!-- Buttons Section -->
    <div class="button-container">

        <div class="drank-button">
          <button (click)="getDifficultyWord(1)" >Drank it</button>
        </div>
        <!-- Next Button -->
        <div class="next-button-section">
          <button (click)="getDifficultyWord(2)" >Did it</button>
        </div>

    </div>
  </div>

</div>
