.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better text visibility */
    border-radius: 15px;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .difficulty-section {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .challenge-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-bottom: 70px;
  }
  
  .next-button-section {
    display: flex;
    justify-content: center;
    scale: 1.5;
  }
  
  .next-button-section button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .next-button-section button:hover {
    background-color: #3700b3;
  }
  

.easy {
  animation: easyAnimation 1s infinite alternate;
}

.medium {
  animation: mediumAnimation 1s infinite alternate;
}

.hard {
  animation: hardAnimation 1s infinite alternate;
}

.extreme {
  animation: extremeAnimation 1s infinite alternate;
}

.round-number {
  align-items: center;
  color: lightblue;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 25px;
}

@keyframes easyAnimation {
  from { color: green; }
  to { color: lightgreen; }
}

@keyframes mediumAnimation {
  from { color: yellow; }
  to { color: gold; }
}

@keyframes hardAnimation {
  from { color: orange; }
  to { color: darkorange; }
}

@keyframes extremeAnimation {
  from { color: red; }
  to { color: darkred; }
}

.penalty-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better text visibility */
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.penalty-title{
  color:crimson;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

@media (orientation: landscape) {
  .parent-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .challenge-container {
    width: 110%;
    
    margin-bottom: 0;
  }

  .penalty-container{
    width: 85%;
    margin-left: 50px;
  }
}

@media (orientation: portrait) {
  .parent-container {
    flex-direction: column;
  }

  .penalty-container, .challenge-container {
    width: 80%;
  }
}