<div class="challenge-container">

  <div class="round-number">
    <span>Round: {{trueRound}}</span>
  </div>

  <!-- Difficulty Section -->
  <div class="difficulty-section">
    <span *ngIf="writtenChallenge" [ngClass]="getDifficultyWord(writtenChallenge.difficulty).toLowerCase()" >{{ getDifficultyWord(writtenChallenge.difficulty) }}</span>
  </div>

  
  <!-- Challenge Section -->
  <div class="challenge-section" *ngIf="writtenChallenge">
    <p>{{ writtenChallenge.challenge }}</p>
  </div>

  <!-- Next Button -->
  <div class="next-button-section">
    <button (click)="nextChallenge()" [disabled]="isLoading">Next</button>
  </div>
</div>
