<span class="parent">
  <h2 mat-dialog-title class="dialog-header">Configure Difficulty</h2>
  <div mat-dialog-content class="dialog-content">
    <form class="dialog-content">
      <div class="range-slider">
        <label>Easy: {{ sliderValues.easy }}%</label>
        <mat-slider min="0" max="100" class="slider">
          <input matSliderThumb [(ngModel)]="sliderValues.easy" (input)="onSliderChange('easy')" name="easy">
        </mat-slider>
      </div>
      <div class="range-slider">
        <label>Medium: {{ sliderValues.medium }}%</label>
        <mat-slider min="0" max="100" class="slider">
          <input matSliderThumb [(ngModel)]="sliderValues.medium" (input)="onSliderChange('medium')" name="medium">
        </mat-slider>
      </div>
      <div class="range-slider">
        <label>Hard: {{ sliderValues.hard }}%</label>
        <mat-slider min="0" max="100" class="slider">
          <input matSliderThumb [(ngModel)]="sliderValues.hard" (input)="onSliderChange('hard')" name="hard">
        </mat-slider>
      </div>
      <div class="range-slider">
        <label>Extreme: {{ sliderValues.extreme }}%</label>
        <mat-slider min="0" max="100" class="slider">
          <input matSliderThumb [(ngModel)]="sliderValues.extreme" (input)="onSliderChange('extreme')" name="extreme">
        </mat-slider>
      </div>
    </form>
    <div *ngIf="errorMsg" class="error-message">{{ errorMsg }}</div>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button class="mat-button" (click)="onCancel()">Cancel</button>
    <button mat-button class="mat-button" (click)="onSave()">Save</button>
  </div>
</span>