.dialog-header {
  display: flex;
  padding: 15px;
  color: darkred;
  justify-content: center;
  font-size: 24px; /* Adjust the font size for the title */
  font-weight: bold; /* Make the title bold */
  background-color: rgba(20, 0, 0, 0.4); /* Super dark with faint red and 40% opacity */
  border-radius: 8px 8px 0 0; /* Rounded corners at the top */
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding for better spacing */
  background-color: rgba(20, 0, 0, 0.4); /* Super dark with faint red and 40% opacity */
}

mat-form-field {
  display: flex;
  align-items: center;
  width: 100%; /* Adjust to fit the form correctly */
  margin-bottom: 20px; /* Space between form fields */
}

.dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Adjusted gap for better spacing */
  background-color: rgba(20, 0, 0, 0.2); /* Super dark with faint red and 20% opacity */
  padding: 10px; /* Add padding for a cleaner look */
  border-radius: 0 0 8px 8px; /* Rounded corners at the bottom */
}

.mat-button {
  background-color: #6200ea; /* Custom background color */
  color: white; /* Custom text color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding for a fancier look */
  border: none; /* Remove default border */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin-top: 10px; /* Adjusted top margin */
}

.mat-button:hover {
  background-color: #3700b3; /* Darker shade on hover */
}

.difficulty-dialog {
  border-radius: 8px; /* Round corners of the entire dialog */
  overflow: hidden; /* Ensure the rounded corners are visible */
  background-color: transparent;
}

.parent {
  background-color: rgba(53, 15, 6, 0.76);
}
