:root {
  --main-bg-color: transparent;
}


.mdc-dialog__surface {
  background: rgba(0, 0, 0, 80%) !important;
  box-shadow: none !important;
}


.player-config-row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.player-name {
  flex-grow: 1;
  min-width: 150px;
}

.player-sex {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.sex-label {
  margin-right: 8px;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.sex-radio-group {
  display: flex;
  gap: 12px;
  color: rgb(255, 255, 255);
}

.mdc-form-field>label {
  margin-left: 0;
  margin-right: auto;
  padding-left: 4px;
  padding-right: 0;
  order: 0;
  color: white;
}

.difficulty-button {
  display: block;
  margin: 16px auto 0;
  height: 36px;
    color: white !important;
  border-color: white !important; 
}

.create-room-dialog mat-error {
  color: white !important;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: hidden;
}

.room-name-container {
  display: flex;
  align-items: flex-start;
  gap: 16px; 
}


.room-name-container .mat-form-field {
  flex: 1;
}


.error-message {
  color: white; 
  margin: 4px 0 0;
}



.error-message mat-error {
  white-space: nowrap; 
}

.create-room-dialog {
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}


.no-spinners input[type="number"]::-webkit-outer-spin-button,
.no-spinners input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

h3 {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 5px;
  margin-top: 24px;
  margin-bottom: 16px;
  color: #ffffff;
  text-align: center;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
  position: sticky;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 0;
  margin: 0 -24px;
  z-index: 2;
}

mat-checkbox {
  margin-bottom: 16px;
}


:host {
  display: block;
  padding: 24px;
}

.scrollable-content {
  flex: 1;
  max-height: 60vh;
  overflow-y: auto;
  padding: 0 15px 15px;
  margin: 0 -15px;
}

@media (orientation: portrait) {

  .player-config-row {
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .room-name-container {
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .difficulty-button {
    align-self: start;
    width: 100%;
    margin: 16px 0;
  }
  .room-name-container .error-message {
    margin: 0;
    order: 1;
  }

  .full-width {
    padding: 25px;
    width: 85%;
  }

  .checkbox-field {
    width: 100%;
    margin-top: 16px;
  }

}