<div class="create-room-dialog">
  <h2>Room Information</h2>
  <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
    <div class="scrollable-content">


    <div class="room-name-container">
      <mat-form-field class="full-width">
        <mat-label>Room Name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="roomForm.get('name')?.hasError('required')">Room name is required.</mat-error>
        <mat-error *ngIf="roomForm.get('name')?.hasError('minlength')">Room name must be at least 3 characters long.</mat-error>
      </mat-form-field>
    </div>

    <div class="checkbox-field">
      <mat-checkbox formControlName="isPrivate">Private Room</mat-checkbox>
    </div>

    <mat-form-field *ngIf="roomForm.get('isPrivate')?.value">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <h3>Room Admin Details</h3>
    <div formGroupName="player">
      <div class="player-config-row">
        <mat-form-field class="player-name">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="roomForm.get('player')?.get('name')?.hasError('required')">Admin name is required.</mat-error>
          <mat-error *ngIf="roomForm.get('player')?.get('name')?.hasError('minlength')">Admin name must be at least 3 characters long.</mat-error>
        </mat-form-field>

        <div class="player-sex">
          <label class="sex-label">Sex:</label>
          <mat-radio-group formControlName="sex" class="sex-radio-group">
            <mat-radio-button value="M">M</mat-radio-button>
            <mat-radio-button value="F">F</mat-radio-button>
          </mat-radio-group>
        </div>

        <button mat-stroked-button type="button" (click)="openDifficultyDialog()" class="difficulty-button">
          Set Difficulty
        </button>
      </div>
    </div>

    <h3>Game Configuration</h3>
    <mat-form-field class="full-width">
      <mat-label>Game Mode</mat-label>
      <mat-select formControlName="mode">
        <mat-option value="normal">Normal</mat-option>
        <mat-option value="random">Random</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width no-spinners">
      <mat-label>Remembered Challenges</mat-label>
      <input matInput
             type="number"
             formControlName="rememberedChallenges"
             min="0">
    </mat-form-field>

    <mat-checkbox formControlName="showChallenges" class="full-width">Show Challenges to All Players</mat-checkbox>

</div>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">Create Room</button>
      <button mat-button type="button" (click)="onCancel()" style="color: white">Cancel</button>
    </div>
  </form>
</div>
